# SPDX-License-Identifier: GPL-2.0
config MYEMULATOR2
	def_bool y
	select ARCH_32BIT_OFF_T
	select GENERIC_ATOMIC64
	select GENERIC_CLOCKEVENTS
	select GENERIC_CLOCKSOURCE
	select GENERIC_IRQ_SHOW
	select HAVE_ARCH_TRACEHOOK
	select MODULES_USE_ELF_RELA
	select SERIAL_CORE
	select SERIAL_CORE_CONSOLE

config MMU
	def_bool y

config MYEMU2_BLOCK
	bool "MyEmulator2 virtual block device"
	default y
	depends on BLOCK

config FPU
	def_bool n

config NR_CPUS
	int
	default 1

source "kernel/Kconfig.hz"

config CMDLINE_BOOL
	bool "Default kernel command string"
	default y

config CMDLINE
	string "Default kernel command string"
	default "console=ttyMY0,115200 earlycon=myemulator2,0xf0000000 rdinit=/init"
	depends on CMDLINE_BOOL

config CMDLINE_FORCE
	bool "Force default kernel command string"
	default y
	depends on CMDLINE_BOOL
