CONFIG_MYEMULATOR2=y
CONFIG_64BIT=n
CONFIG_SMP=n
CONFIG_PREEMPT_NONE=y
CONFIG_EXPERT=y
CONFIG_HZ_100=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BLOCK=y
CONFIG_MYEMU2_BLOCK=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_BINFMT_ELF=y
CONFIG_SERIAL_8250=n
CONFIG_TTY=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_TMPFS=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_PRINTK=y
CONFIG_EARLY_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_DEFAULT_HOSTNAME="myemulator2"
CONFIG_CMDLINE_BOOL=y
CONFIG_CMDLINE="console=ttyMY0,115200 earlycon=myemulator2,0xf0000000 rdinit=/init"
CONFIG_CMDLINE_FORCE=y
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_KERNEL=n
# CONFIG_KALLSYMS is not set
CONFIG_MODULES=n
# CONFIG_NET is not set
CONFIG_SOUND=n
CONFIG_USB=n
# CONFIG_BLOCK is not set
# CONFIG_INPUT is not set
# CONFIG_VT is not set
# CONFIG_HID is not set
# CONFIG_FW_LOADER is not set
# CONFIG_HW_RANDOM is not set
